Let's implement the changes we identified. First, we need to fix the issues with the user_name variable. As we can see, it has unnecessary spaces and an underscore as a separator between the first and last name. Your goal is to remove the spaces and then replace the underscore with a space.

In [2]:
user_name = ' mike_reed '
print(user_name)

user_name = user_name.strip()# elimina espcios al principio
user_name = user_name.replace('_',' ')# escribe tu código aquí

print(user_name)

 mike_reed
mike reed

 Step 3:
 Then, we should split the updated user_name variable into two substrings to obtain a list containing two values: one string for the first name and one string for the last name.

In [2]:
user_name_list = user_name.split(' ')
print(user_name_list)

['mike', 'reed']

Step 4:
Great! Now we should work with the user_age variable. As we mentioned before, this variable has an incorrect data type. Let’s fix this by converting its data type and displaying the final result.

In [3]:
user_age = 32.0
user_age = int(user_age)# funciones para convertir el código

print(user_age)

32

Step Five
As we know, data is not always perfect. We must consider cases where the user_age value can't be converted into an integer number. To prevent our system from crashing, we must take precautions in advance.

Write code that tries to convert the variable user_age to an integer and assign the converted value to the variable user_age_int. If the attempt fails, display a message asking the user to provide their age as a numerical value, with the message:

Please provide your age as a numerical value.

In [4]:
user_age = 'treinta y dos'

try:
    user_age_int= int(user_age)
except:
    print('Please provide your age as a numerical value.')

Please provide your age as a numerical value.

Step 7 
We have information about our users' consumption habits, including the amount spent in each of their favorite categories.

The management is interested in knowing the total amount spent by each user.
Let's calculate this value and display it.

In [1]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amout= sum(spendings_per_category)
print(total_amout)

1280

Step 8:
The management enterprice asked us to think a way to summarize all the information from a user. Your goal is to create a formatted string that use user_id, user_name, user_age variables information

This is the final string what we want to create: "User 32415 is mike who is 32 years old".  

The company management asked us to think of a way to summarize all the information about a user.

Your goal is to create a formatted string that uses the information from the variables user_id, user_name, and user_age.

This is the final string that we want to create: "User 32415 is Mike, who is 32 years old."

In [3]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32

final_string= f"User {user_id} is {user_name[0].capitalize()}, who is {user_age} years old"
print(final_string)

User 32415 is Mike, who is 32 years old

Step 9:
The management also wants an easy way to know the number of customers whose data we have.
Your goal is to create a formatted string that shows the total number of registered customers.

In [ ]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

user_info = f"We have received data from  {len(users)} clients." # escribe tu código aquí
print(user_info)

We have received data from  10 clients.

Step 10:
Let's now apply all the changes to the list of clients.
To simplify things, we'll give you a shorter one. You should:

Remove all leading and trailing spaces from the names, and also replace any underscores.
Convert all ages to integers.
Separate all first and last names into sublists.
Save the modified list as a new one called users_clean and display it on the screen.

In [8]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
]

users_clean = []

# Procesa al primer usuario
user_name_1 = users[0][1].strip().replace('_',' ')  # escribe tu código aquí
user_age_1 = int(users[0][2])# escribe tu código aquí
user_name_1 = user_name_1.split(' ')# escribe tu código aquí
users_clean.append([users[0][0], user_name_1, user_age_1, users[0][3],users[0][4]])# escribe tu código aquí

# Procesa al segundo usuario
user_name_2 = users[1][1].strip().replace('_',' ')  # escribe tu código aquí
user_age_2 = int(users[1][2])# escribe tu código aquí
user_name_2 = user_name_2.split(' ')# escribe tu código aquí
users_clean.append([users[1][0], user_name_2, user_age_2, users[1][3],users[1][4]])# escribe tu código aquí

# Procesa al tercer usuario
user_name_3 = users[2][1].strip().replace('_',' ')  # escribe tu código aquí
user_age_3 = int(users[2][2])# escribe tu código aquí
user_name_3 = user_name_3.split(' ')# escribe tu código aquí
users_clean.append([users[2][0], user_name_3, user_age_3, users[2][3],users[2][4]])# escribe tu código aquí

print(users_clean)

[['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['CLOTHES', 'BOOKS'], [439, 390]], ['32156', ['john', 'doe'], 37, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]]]